<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the contact page</title>
</head>
<body>
    <h1>Contacts</h1>
    <strong>email:</strong><p>jacopo@example.com</p>
    <strong>phone:</strong><p>000 111 222 33</p>
</body>
</html>